/* ESTILOS GLOBALES
-------------------------------------------------- */

* {
	color: #1e1e1e;
	font-family: "Encode Sans", sans-serif !important;
	font-family: "Lato", sans-serif;
}

/* ESTILOS DIVISOR
-------------------------------------------------- */

hr {
	margin: 100px;
}

/* ESTILOS CAROUSEL
-------------------------------------------------- */

/* Carousel clase base */
.carousel {
	margin-bottom: 100px;
}

/* Declaramos un height para las imagenes */
.carousel-item {
	height: 500px;
}

/* Color blanco a los parrafos  */
.carousel-caption p {
	color: white;
}

/* ESTILOS SECCIONES
-------------------------------------------------- */

.parafo-seccion {
	margin-bottom: 1.25rem;
	font-size: 1.25rem;
	line-height: 1.4;
}

.titulo-seccion {
	margin-top: 100px;
	font-size: 50px;
}
